@import "tailwindcss";
@import "tw-animate-css";
@import "../src/styles.css";

@source "../src";
@source "../stories";

body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
}

html,
body,
#storybook-root,
.sb-show-main,
.docs-story,
[data-radix-popper-content-wrapper] {
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

#storybook-root {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
}
